---
const today = new Date();
---
<footer>
	<hr/>
	
	<div id="footer">
		<p class="dull">Copyright &copy; {today.getFullYear()}  stolen from <a target="_blank" href="aryan.ink">aryan.ink</a></p>
	</div>
</footer>
<style>
	#footer {
		font-size: 0.7rem;
	}
	#footer a, #footer p, #footer .dull{
		color: var(--blue);
	}
</style>