---
import { SITE_TITLE } from '../config';
import { SITE_DESCRIPTION } from '../config';
---

<header>
	<h1>
		<a id="left" href="/">{SITE_TITLE}</a>
	</h1>

</header>
<style>
header {
	font-size: 1.2em;
	margin: 10px 20px 10px 20px;

}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom:unset
}

header h1 a {
	color: var(--blue);
}

h1 a:hover {
	border: 0;
}

</style>