---
import HeaderLink from './HeaderLink.astro';
---

<nav>
	<HeaderLink href="/rss.xml" title="SUBSCRIBE VIA RSS">SUBSCRIBE</HeaderLink>
	<HeaderLink href="/who-the-f" title="ABOUT ARYAN SINGH">WHO THE F*!#?!</HeaderLink>
	<HeaderLink href="/academia" title="YES.">ACADEMIA</HeaderLink>
	<HeaderLink href="/search" title="SEARCH THROUGH ARICLES">SEARCH</HeaderLink>
</nav>

<style>
nav {
	font-size: small;
	font-family: 'Mono', 'Courier New', Courier, monospace;
}
nav a {
	font-weight: bold;
	margin:20px 10px 10px 0px;
}
nav a:hover{
	text-decoration: none;
	border: 0;
	border-bottom: 0;		
}
nav a:active {
	font-weight: normal;
	outline: auto;
}
</style>